<mat-toolbar class = "bgHeader">
    <ul>
        <a routerLink="student">
            Register Student
        </a>
    </ul>
    <ul>
        <a routerLink="teacher">
            Register Teacher
        </a>
    </ul>
    <ul>
        <a routerLink="matter">
            Register Matter
        </a>
    </ul>
    <ul>
        <a routerLink="course">
            Register Course
        </a>
    </ul>
    <span class="headerSpacer"></span>
    <ul>
        <a mat-button >Sign Up</a>
        <a mat-button >Login</a>
        <a mat-button >logout</a>
    </ul>

</mat-toolbar>