<div class="bgComponent">
  <div class="form">
    <mat-card class="card">
      <mat-card-title>Register student </mat-card-title>
      <mat-card-content>
        <div class="container">
          <mat-form-field>
            <input
              [(ngModel)]="registerData.name"
              matInput
              placeholder="Name and lastname"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input type="email" 
            [(ngModel)]="registerData.email"
            matInput placeholder="Email" required />
          </mat-form-field>
          <mat-form-field>
            <input type="password" 
            [(ngModel)]="registerData.password"
            matInput placeholder="Password" required />
          </mat-form-field>
          <mat-form-field>
            <input
            [(ngModel)]="registerData.adress"
            matInput placeholder="Adress" required />
          </mat-form-field>
          <mat-form-field>
            <input
            [(ngModel)]="registerData.telephone"
            matInput placeholder="Tel" required />
          </mat-form-field>
          <mat-form-field>
            <input
            [(ngModel)]="registerData.grade"
            matInput placeholder="grade" required />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)= "registerStudent()" class="button colorButton" mat-raised-button>Register</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
